<mat-card class="main-card">
  <img mat-card-image class="imgMain" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-title style="text-align: center">Shiba Inu</mat-card-title>
  <mat-card-actions color="basic">
    <div class="buttonGroup-row" role="group">
      <app-a-btn-medium></app-a-btn-medium>
      <app-a-btn-medium></app-a-btn-medium>
      <app-a-btn-medium></app-a-btn-medium>
      <app-a-btn-medium></app-a-btn-medium>
    </div>
  </mat-card-actions>
</mat-card>